* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: #fdeed8;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

input,
textarea,
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

main {
  margin: 2rem;
}

form {
  width: 50%;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-field label {
  font-size: 1.375rem;
}

.form-field input,
.form-field textarea {
  border: 1px solid #888;
  border-radius: 3px;
  max-width: 800px;
  padding: 8px;
}

.form-field textarea {
  flex: 1;
  min-height: 6rem;
}

.form-input--invalid input {
  background-color: #fbb;
  border-color: #855;
}

button {
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 3px;
  display: block;
  font-size: 1.5rem;
  margin: 1rem auto;
  padding: 0.5rem;
  transition: background-color ease-in 300ms;
}

button:hover {
  background-color: #bbb;
}

.button-box {
  align-items: center;
}

.errors {
  margin-bottom: 2rem;
}

.form-errors {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left;
}

table,
td,
th {
  border: 0.5px solid rgb(136, 114, 6);
}

table {
  border-collapse: collapse;
  margin-top: 2rem;
  width: 50%;
}

th,
td {
  height: 2rem;
}

td {
  padding-left: 1rem;
}

.form-checkbox {
  text-align: center;
}

@media (min-width: 600px) {
  .form-field {
    flex-direction: row;
  }

  .form-field label {
    flex: 0 0 200px;
  }

  .form-field input {
    flex: 1;
  }
}
